
name: CI Ubuntu

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        build_type: [Debug, Release]
        compiler:
          - {cxx: "g++-10", c: "gcc-10"}
          - {cxx: "g++-11", c: "gcc-11"}
          - {cxx: "g++-12", c: "gcc-9"}
          - {cxx: "clang++-12", c: "clang-12"}
          - {cxx: "clang++-13", c: "clang-13"}
          - {cxx: "clang++-14", c: "clang-14"}
        cxx_standard: [11, 14, 17, 20]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    
    - name: Install libraries
      run: sudo apt update && sudo apt install libgl-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev

    - name: Install Ninja
      uses: ashutoshvarma/setup-ninja@master
      with:
        version: 1.11.0
      
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -GNinja
            -DVULKAN_HPP_SAMPLES_BUILD=ON
            -DVULKAN_HPP_SAMPLES_BUILD_ONLY_DYNAMIC=ON
            -DVULKAN_HPP_SAMPLES_BUILD_WITH_LOCAL_VULKAN_HPP=ON
            -DVULKAN_HPP_TESTS_BUILD=ON
            -DVULKAN_HPP_TESTS_BUILD_ONLY_DYNAMIC=ON
            -DVULKAN_HPP_TESTS_BUILD_WITH_LOCAL_VULKAN_HPP=ON
            -DVULKAN_HPP_RUN_GENERATOR=ON
            -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
            -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
            -DCMAKE_CXX_STANDARD=${{matrix.cxx_standard}}
            -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
            
    - name: Build
      run: cmake --build ${{github.workspace}}/build --parallel
